<% title 'Search Results'%>

<div id='search-form'>
	<%= form_tag results_path, :method => :get do %>
		<p>
			<%= text_field_tag :search, '', :style => 'width:350px;' %>&nbsp;&nbsp;<%= submit_tag :search%>
  		</p>
	<% end%>
</div>

<div id="search-results">
	
</div>
