<% title "Search friends"%>

<div>
	<div style="text-align:right;padding:5px 0;">
		<%= link_to "Search friends in claim mains", get_friends_claim_mains_path %>
	</div>
	<div style="margin:10px 0;">
		<%= debug @search_friends.to_yaml%>
	</div>
</div>